<h3 class="ui header">Matching contractors</h3>
<table class="ui celled table">
    <thead>
        <tr><th>Name</th>
            <th>Address</th>
            <th>Max Budget</th>
            <th>Min Budget</th>
            <th>Offers design services</th>
            <th>Offers build services</th>
            <th></th>
        </tr></thead>
    <tbody>
        <% if @contractors.present? %>
          <% @contractors.each do |c| %>
            <tr>
                <td><%= c.name %></td>
                <td><%= c.address %></td>
                <td><%= c.max_budget %></td>
                <td><%= c.min_budget %></td>
                <td><%= c.has_design_services %></td>
                <td><%= c.has_build_services %></td>
                <td>
                    <%= link_to "Interested", interest_request_project_path(@project, {:contractor => c.id, status: 1}), method: :post %>
                    <%= link_to "Not Interested", interest_request_project_path(@project, {:contractor => c.id, status: 2}), method: :post %>
                </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
              <td><%= "No contractors found" %></td>
          </tr>
        <% end %>

    </tbody>
</table>