<!DOCTYPE html>
<html>
    <head>
        <title>MatchingAlgorithm</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <h1 class="ui header">Matching Program</h1>
        <div id="container">
            <% flash.each do |key, value| %>
              <div class="ui floating message alert-<%= key %>"><%= value %><i class="close icon"></i></div>
            <% end %>
            <%= yield %>
            <div class="divider"></div>
        </div>

    </body>
</html>
